html, body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-weight: 600;
  font-size: 2.25rem;
}

p, a, li {
  font-size: 1.375rem;
}

h1, p, a, li {
  color: #2C2C2C;
  margin-block: 0.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-block: 2.5%;
}

.button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  text-decoration: none;
  margin-block: 2.5%;
  border-radius: 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  padding-block: 0.5rem;
  padding-inline: 2rem;
}

.button.main {
  background-color: #DC3E26;
  color: #FFFFFF;
}

.button.alt {
  background-color: #FFFFFF;
  color: #DC3E26;
}

.button.locked {
  cursor: not-allowed;
}

nav .navtext {
  max-height: 5rem;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 15%;
  flex-direction: row;
}
nav .side {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 98;
  background-color: rgba(255, 255, 255, 0.5529411765);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  height: 100%;
  transform: translateX(-100%);
  transition: all 0.2s ease;
}
nav .side a {
  line-height: 250%;
}
nav .side.visible {
  transform: translateX(0%);
}
nav .hamburger {
  opacity: 0%;
  border-radius: 0px;
  z-index: 99;
  aspect-ratio: 1/1;
  width: 2rem;
  position: fixed;
  left: 0;
  top: 0;
  margin: 2rem;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.1s ease;
  pointer-events: none;
}
nav .hamburger div {
  transition: all 0.2s ease;
  border-radius: 3rem;
  width: 100%;
  margin-block: 0.25rem;
  background-color: #2C2C2C;
  height: 10%;
}
nav .toggle .top {
  transform: rotate(45deg) translate(15%, 345%);
}
nav .toggle .mid {
  opacity: 0%;
}
nav .toggle .end {
  transform: rotate(-45deg) translate(15%, -345%);
}
nav .hamburger.visible {
  opacity: 100%;
  pointer-events: all;
}
nav a {
  text-decoration: none;
  font-weight: normal;
}

section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 8.5rem;
  padding-inline: 15%;
  gap: 25%;
}
section > div {
  padding-block: 5%;
  min-width: 10rem;
  width: 35%;
  max-width: 30rem;
}

#start {
  padding-block: 15.75%;
}
#start > div > img {
  width: 55%;
}

.swipe {
  background-color: #DC3E26;
  padding-block: 8.5rem;
  padding-inline: 7.5%;
  gap: 15%;
  justify-content: space-evenly;
}
.swipe h1, .swipe p {
  color: #FFFFFF;
}
.swipe > .separator.top {
  border-radius: 0px;
  margin-top: -8.5rem;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  height: 81px;
  transform: rotateY(180deg);
  filter: invert(1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.swipe > .separator.bottom {
  filter: invert(1);
  border-radius: 0px;
  transform: scaleY(-1) scale(1.25);
  width: 100%;
  height: 81px;
  line-height: 0;
  margin-bottom: -8.5rem;
  margin-top: 2.975rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.tiles {
  flex-direction: column;
  align-items: center;
}
.tiles > div {
  max-width: unset;
  width: 100%;
  padding: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.tiles .intro {
  flex-direction: column;
  width: 50%;
  margin-block: 2.5%;
}
.tiles .intro h1, .tiles .intro p, .tiles .intro a, .tiles .intro li {
  margin: 0.8333333333%;
}
.tiles .body div {
  flex: content;
  border-radius: 3rem;
  padding: 2.125rem;
  background-color: #DC3E26;
  min-width: 10rem;
  max-width: 20rem;
  margin: 2rem;
  justify-content: space-between;
}
.tiles .body div .button {
  margin-block: 2.125rem;
}
.tiles .body div h1, .tiles .body div p, .tiles .body div li {
  color: #FFFFFF;
}
.tiles .body .dev-checklist {
  padding: 0;
  margin: 0;
  margin-block: 2.125rem;
}
.tiles .body .dev-checklist div {
  display: flex;
  flex-direction: row;
  padding: 2.5%;
  margin: 0;
  justify-content: flex-start;
}
.tiles .body .dev-checklist div p {
  text-align: left;
}
.tiles .body .dev-checklist .checkbox {
  width: 10%;
  padding-inline: 2.5%;
}

.button-holder {
  flex-direction: row;
  gap: 5%;
  flex-wrap: wrap;
}

.gallery {
  flex-direction: column;
  align-items: center;
}
.gallery > div {
  max-width: unset;
  width: 100%;
  padding: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
.gallery .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .body div {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  background-size: cover;
  border-radius: 3rem;
  padding: 2.125rem;
  background-color: #DC3E26;
  background-position: center;
  min-width: 20rem;
  max-width: 30rem;
  min-height: 20rem;
  max-height: 30rem;
  margin: 2rem;
  aspect-ratio: auto;
}
.gallery .body div .button {
  margin-block: 2.125rem;
}
.gallery .body div h1, .gallery .body div p {
  color: #FFFFFF;
}

footer {
  background-color: #2C2C2C;
  padding: 2rem;
  padding-inline: 15%;
}
footer h1, footer p, footer a {
  color: #FFFFFF;
}
footer div {
  margin-block: 2rem;
}
footer .bottom {
  margin-bottom: 0px;
}
footer .middle {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .middle div {
  min-width: 10rem;
}
footer .middle .logo {
  max-width: 15%;
}
footer .middle .navigation a {
  padding-block: 0.75rem;
  text-decoration: none;
  font-weight: 600;
}

.socials {
  display: flex;
  flex-direction: row;
  margin-inline: 15%;
  padding: 0;
}
.socials a {
  max-width: 20%;
  display: flex;
  margin-inline: 2.5%;
  justify-content: center;
}
.socials img {
  margin: 2.5%;
  min-width: 100%;
  max-width: 20%;
  filter: invert(17%) sepia(0%) saturate(1259%) hue-rotate(275deg) brightness(105%) contrast(102%);
}
.socials svg > circle {
  fill: #FFFFFF;
}

img {
  width: 100%;
  height: auto;
  border-radius: 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

img.icon {
  border-radius: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

section.accent {
  background-color: #DC3E26;
}

section.tiles.accent .intro h1, section.tiles.accent .intro p {
  color: #FFFFFF;
}
section.tiles.accent .body div {
  background-color: #FFFFFF;
}
section.tiles.accent .body div h1, section.tiles.accent .body div p {
  color: #2C2C2C;
}

@media screen and (max-width: 768px) {
  nav .side {
    width: 100%;
    padding: none;
  }
  footer .middle {
    flex-direction: column-reverse;
  }
  .navtext {
    display: none;
    visibility: hidden;
  }
  section div {
    width: unset;
  }
}
@media screen and (min-width: 769px) {
  nav .side {
    padding-inline: 8.5rem;
  }
  footer .middle {
    flex-direction: row;
  }
  .navtext {
    display: flex;
    visibility: visible;
  }
}/*# sourceMappingURL=main.css.map */