// Variables
/// System
//// Elements
$spacing-common: 2.5%;
$inline-common: 15%;
$padding-common: 8.5rem;
$margin-common: 2rem;
$radius: 3rem;
//// Fonts
$font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$text-blockmargin: 0.25rem;
///// Heading
$h1-fontsize: 2.25rem;
$h2-fontsize: 1.75rem;
$subtitle-fontsize: 1.5rem;
///// Paragraph
$p-fontsize: 1.375rem;
///// Interactables
@mixin i-fontinfo {
    font-family: $font;
    font-weight: 600;
    font-size: 1.125rem;
}
/// Colors
$main: #FFFFFF; 
$secondary: #2C2C2C;
$accent: #DC3E26;

// Style
/// System
html, body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    border-radius: 100vw;
    margin-block: 1rem;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: $radius;
    border: white 0.25rem solid;
}

/// Text
h1 {
    font-weight: 600;
    font-size: $h1-fontsize;
}

h2 {
    font-weight: 600;
    font-size: $h2-fontsize;
}

h2.subtitle {
    font-weight: 400;
    font-style: italic;
    font-size: $subtitle-fontsize;
    margin: 0px;
}

p, a, li {
    font-size: $p-fontsize;
}

h1, h2, p, a, li {
    color: $secondary;
    margin-block: $text-blockmargin;
    font-family: $font;
    margin-block: $spacing-common;
}

/// Interactables
.button {
    @include i-fontinfo();
    text-decoration: none;
    margin-block: $spacing-common;
    border-radius: $radius;
    user-select: none;
    display: flex;
    align-items: center;
    padding: {
        block: 0.5rem;
        inline: 2rem;
    }
}

.button.main {
    background-color: $accent;
    color: $main;
}

.button.alt {
    background-color: $main;
    color: $accent;
}

.button.locked {
    pointer-events: none;
    cursor: not-allowed;
}

/// Elements
nav {
    .navtext {
        max-height: 5rem;
        justify-content: space-evenly;
        align-items: center;
        padding-inline: $inline-common;
        flex-direction: row;
    }
    .side {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 98;
        background-color: #ffffff8d;
        backdrop-filter: blur(20px);
        height: 100%;
        transform: translateX(-100%);
        transition: all 0.2s ease;
        a {
            line-height: 250%;
        }
    }
    .side.visible {
        transform: translateX(0%);
    }
    .hamburger {
        opacity: 0%;
        border-radius: 0px;
        z-index: 99;
        aspect-ratio: 1/1;
        width: 2rem;
        position: fixed;
        left: 0;
        top: 0;
        margin: $margin-common;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.1s ease;
        pointer-events: none;
        div {
            transition: all 0.2s ease;
            border-radius: $radius;
            width: 100%;
            margin-block: $margin-common/8;
            background-color: $secondary;
            height: 10%;
        }
    }
    .toggle {
        .top {
            transform: rotate(45deg) translate(15%, 345%);
        }
        .mid {
            opacity: 0%;
        }
        .end {
            transform: rotate(-45deg) translate(15%, -345%);
        }
    }
    .hamburger.visible {
        opacity: 100%;
        pointer-events: all;
    }
    a {
        text-decoration: none;
        font-weight: normal;
    }
}

section {
    // background-color: rebeccapurple;
    // outline: solid black;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: $padding-common;
    padding-inline: $inline-common;
    gap: 25%;
    > div {
        // background-color: orange;
        padding-block: $spacing-common*2;
        min-width: 10rem;
        width: 35%;
        max-width: 30rem;
    }
}

.article {
    flex-direction: column;
    h1, h2 {
        text-align: center;
        margin: 0px;
        margin-bottom: 1rem;
    }
    p {
        margin-block: 0.5rem;
        line-height: 2rem;
        // Put an indentation before each paragraph
        text-indent: 5rem;
    }
}

#start {
    padding-block: $inline-common*1.05;
    >div>img {
        width: 55%;
    }
}

.swipe {
    background-color: $accent;
    padding-block: $padding-common;
    padding-inline: $inline-common/2;
    gap: 15%;
    justify-content: space-evenly;
    h1, p {
        color: $main;
    }
    >.separator.top {
        border-radius: 0px;
        margin-top: $padding-common*-1;
        position: absolute;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        height: 81px;
        transform: rotateY(180deg);
        filter: invert(1);
        user-select: none;
        pointer-events: none;
    }
    >.separator.bottom {
        filter: invert(1);
        border-radius: 0px;
        transform: scaleY(-1) scale(1.25);
        width: 100%;
        height: 81px;
        line-height: 0;
        margin-bottom: $padding-common*-1;
        margin-top: $padding-common*0.35;
        user-select: none;
        pointer-events: none;
    }
}

.tiles {
    flex-direction: column;
    align-items: center;
    >div {
        max-width: unset;
        width: 100%;
        padding: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .intro {
        flex-direction: column;
        width: 50%;
        margin-block: $spacing-common;
        h1, p, a, li {
            margin: $spacing-common/3;
        }
    }
    .body {
        div {
            display: flex;
            flex: content;
            border-radius: $radius;
            padding: $padding-common/4;
            background-color: $accent;
            min-width: 10rem;
            // width: 35%;
            max-width: 20rem;
            margin: $margin-common;
            justify-content: space-between;
            background-position: center;
            background-size: cover;
            .button {
                margin-block: $padding-common/4;
            }
            h1, p, li {
                color: $main;
            }
        }
        .dev-checklist {
            padding: 0;
            margin: 0;
            margin-block: $padding-common/4;
            // margin-inline: $padding-common;
            div {
                display: flex;
                flex-direction: row;
                padding: $spacing-common;
                margin: 0;
                justify-content: flex-start;
                p {
                    text-align: left;
                }
            }
            .checkbox {
                width: 10%;
                padding-inline: $spacing-common;
            }
        }
    }
}


.button-holder {
    flex-direction: row;
    gap: 5%;
    flex-wrap: wrap;
}

.gallery {
    flex-direction: column;
    align-items: center;
    >div {
        max-width: unset;
        width: 100%;
        padding: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .body {
        /**
        div {
            // flex: content;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            background-size: cover;
            border-radius: $radius;
            padding: $padding-common/4;
            background-color: $accent;
            background-position: center;
            min-width: 20rem;
            max-width: 30rem;
            min-height: 20rem;
            max-height: 30rem;
            margin: $margin-common;
            aspect-ratio: auto;
            .button {
                margin-block: $padding-common/4;
            }
            h1, p {
                color: $main;
            }
        }**/
        > div {
            min-width: 15rem;
            max-width: 25rem;
            padding: $margin-common;
            flex-direction: column;
            > div {
                justify-content: end;
                align-items: flex-start;
                width: 100%;
                p {
                    position: absolute;
                    color: white;
                    text-shadow: 0 0 20px #000;
                    margin: $margin-common;
                    text-align: left;
                }
            }
        }
    }
}

footer {
    background-color: $secondary;
    padding: $margin-common;
    padding-inline: $inline-common;
    h1, p, a {
        color: $main;
    }
    div {
        margin-block: $margin-common;
    }
    .bottom {
        margin-bottom: 0px;
    }
    .middle {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        div {
            min-width: 10rem;
        }
        .logo {
            max-width: 15%;
        }
        .navigation {
            a {
                padding-block: $text-blockmargin*3;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }
}

.socials {
    display: flex;
    flex-direction: row;
    // margin-inline: $inline-common;
    padding: 0;
    a {
        max-width: 20%;
        display: flex;
        margin-inline: $spacing-common; 
        justify-content: center;
    }
    img {
        margin: $spacing-common;
        min-width: 100%;
        max-width: 20%;
        filter: invert(17%) sepia(0%) saturate(1259%) hue-rotate(275deg) brightness(105%) contrast(102%);
    }
    svg>circle {
        fill: #FFFFFF;
    }
}

#socials {
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: $radius;
    user-select: none;
    pointer-events: none;
}

div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

img.icon {
    border-radius: 0px;
    user-select: none;
    pointer-events: none;
}

section.accent {
    background-color: $accent;
}

section.tiles.accent {
    .intro {
        h1, p {
            color: $main;
        }
    }
    .body {
        div {
            h1, p {
                color: $secondary;
            }
            background-color: $main;
        }
    }
}

// Screens
@media screen and (max-width: 768px) {
    nav .side {
        width: 100%;
        padding: none;
    }

    footer .middle {
        flex-direction: column-reverse;
    }

    .navtext {
        display: none;
        visibility: hidden;
    }

    section {
        div {
            width: unset;
        }
    }
}

@media screen and (min-width: 769px) {
    nav .side {
        padding-inline: $padding-common;
    }

    footer .middle {
        flex-direction: row;
    }

    .navtext {
        display: flex;
        visibility: visible;
    }
}