// Variables
/// System
//// Elements
$inline-spacing-common: 2.5%;
$inline-common: 25%;
$block-common: 8.5rem;
$block-font: 0.25rem;
$heading-block: $block-font*3;
$button-margin-common: $block-font*4;
$tile-padding: $block-common/6 $inline-common/6;
$block-nav: $block-font*3;
$margin-common: 2rem;
$radius: 1.5rem;
$radius-round: 10rem;
$tile-margin: $margin-common $inline-spacing-common;
//// Fonts
$font: system-ui,
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
///// Heading
$h1-fontsize: 1.65rem;
$h2-fontsize: 1.45rem;
$subtitle-fontsize: 1.2rem;
///// Paragraph
$p-fontsize: 1rem;

///// Interactables
@mixin i-fontinfo {
    font-family: $font;
    font-weight: 600;
    font-size: $p-fontsize;
}

/// Colors
$main: #FFFFFF;
$secondary: #2C2C2C;
$accent: #DC3E26;

// Style
/// System
html,
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
    border-radius: 100vw;
    margin-block: 1rem;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: $radius;
    border: white 0.25rem solid;
}

/// Text
h1 {
    font-weight: 600;
    font-size: $h1-fontsize;
}

h2 {
    font-weight: 600;
    font-size: $h2-fontsize;
}

h2.subtitle {
    font-weight: 400;
    font-style: italic;
    font-size: $subtitle-fontsize;
    margin: 0px;
}

p,
a,
li,
.caption {
    font-size: $p-fontsize;
    line-height: 1.5rem;
}

h1,
h2,
h3,
p,
a,
li,
.caption {
    color: $secondary;
    font-family: $font;
    margin-block: $block-font;
}

.caption {
    font-size: $p-fontsize - ($p-fontsize/4);
    font-style: italic;
    color: lighten($secondary, 50%);
}

h1,
h2,
h3 {
    margin-top: $heading-block;
}

/// Interactables
.button {
    @include i-fontinfo();
    text-decoration: none;
    // margin-block: $block-common;
    margin: $button-margin-common;
    border-radius: $radius-round;
    user-select: none;
    display: flex;
    align-items: center;

    padding: {
        block: 0.5rem;
        inline: 2rem;
    }
}

.button.main {
    background-color: $accent;
    color: $main;
}

.button.alt {
    background-color: $main;
    color: $accent;
}

.button.locked {
    pointer-events: none;
    cursor: not-allowed;
}

/// Elements
nav {
    .navtext {
        max-height: 5rem;
        justify-content: space-evenly;
        align-items: center;
        padding-inline: $inline-common;
        margin-block: $block-nav;
        flex-direction: row;
    }

    .side {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 98;
        background-color: #ffffff8d;
        backdrop-filter: blur(20px);
        height: 100%;
        transform: translateX(-100%);
        transition: all 0.2s ease;

        a {
            line-height: 250%;
        }
    }

    .side.visible {
        transform: translateX(0%);
    }

    .hamburger {
        opacity: 0%;
        border-radius: 0px;
        z-index: 99;
        aspect-ratio: 1/1;
        width: 2rem;
        position: fixed;
        left: 0;
        top: 0;
        margin: $margin-common;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.1s ease;
        pointer-events: none;

        div {
            transition: all 0.2s ease;
            border-radius: $radius-round;
            width: 100%;
            margin-block: $margin-common/8;
            background-color: $secondary;
            height: 10%;
        }
    }

    .toggle {
        .top {
            transform: rotate(45deg) translate(15%, 345%);
        }

        .mid {
            opacity: 0%;
        }

        .end {
            transform: rotate(-45deg) translate(15%, -345%);
        }
    }

    .hamburger.visible {
        opacity: 100%;
        pointer-events: all;
    }

    a {
        text-decoration: none;
        font-weight: normal;
    }
}

section {
    // background-color: rebeccapurple;
    // outline: solid black;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 100vh;
    box-sizing: border-box;
    padding-block: $block-common;
    padding-inline: $inline-common;
    gap: 25%;

    >div {
        // background-color: orange;
        padding-block: $inline-spacing-common*2;
        min-width: 10rem;
        width: 35%;
        max-width: 30rem;
    }
}

.article {
    flex-direction: column;

    h1,
    h2.subtitle {
        text-align: center;
        margin: 0px;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: $heading-block;
        line-height: 2rem;
        // Put an indentation before each paragraph
        // text-indent: 5rem;
    }
}

#start {
    max-height: 100vh;

    >div>img {
        width: 55%;
    }
}

.separator {
    border-radius: 0px;
    filter: invert(1);
    transform: scaleY(-1) scale(1.25);
    position: absolute;
    width: 100%;
    overflow: hidden;

    h1,
    p {
        color: $main;
    }

    &.top {
        transform: rotateY(180deg);
        filter: invert(1);
        user-select: none;
        pointer-events: none;
        top: 0;
    }

    &.bottom {
        filter: invert(1);
        transform: scaleY(-1) scale(1.25);
        position: absolute;
        bottom: 0;
    }
}

.swipe {
    background-color: $accent;
    padding-block: $block-common;
    padding-inline: $inline-common/2;
    gap: 15%;
    justify-content: space-evenly;
    position: relative;
    width: 100%;

    h1,
    p {
        color: $main;
    }
}

.left-aligned {
    text-align: left;
}

.tiles {
    flex-direction: column;
    align-items: center;

    >div {
        max-width: unset;
        width: 100%;
        padding: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    &.unstrict {
        >div {
            align-items: center !important;
        }
    }

    .intro {
        flex-direction: column;
        width: 50%;
        margin-block: $inline-spacing-common;

        h1,
        p,
        a,
        li {
            margin: $inline-spacing-common/3;
        }
    }

    .body {
        div {
            display: flex;
            flex: content;
            border-radius: $radius;
            padding: $tile-padding;
            // padding: $block-common/4;
            background-color: $accent;
            min-width: 10rem;
            // flex: 1;
            // width: 35%;
            max-width: 20rem;
            margin: $tile-margin;
            justify-content: space-between;
            background-position: center;
            background-size: cover;

            .button {
                margin-block: $button-margin-common;
            }

            h1,
            p,
            li {
                color: $main;
            }
        }

        .dev-checklist {
            padding: 0;
            margin: 0;
            margin-block: $block-common/4;

            // margin-inline: $padding-common;
            div {
                display: flex;
                flex-direction: row;
                padding: $inline-spacing-common;
                margin: 0;
                justify-content: flex-start;

                p {
                    text-align: left;
                }
            }

            .checkbox {
                width: 10%;
                padding-inline: $inline-spacing-common;
            }
        }
    }
}


.button-holder {
    flex-direction: row;
    gap: 5%;
    flex-wrap: wrap;
}

.gallery {
    flex-direction: column;
    align-items: center;

    >div {
        max-width: unset;
        width: 100%;
        padding: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body {

        /**
        div {
            // flex: content;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            background-size: cover;
            border-radius: $radius;
            padding: $padding-common/4;
            background-color: $accent;
            background-position: center;
            min-width: 20rem;
            max-width: 30rem;
            min-height: 20rem;
            max-height: 30rem;
            margin: $margin-common;
            aspect-ratio: auto;
            .button {
                margin-block: $padding-common/4;
            }
            h1, p {
                color: $main;
            }
        }**/
        >div {
            min-width: 15rem;
            max-width: 25rem;
            padding: $margin-common;
            flex-direction: column;

            >div {
                justify-content: end;
                align-items: flex-start;
                width: 100%;

                p {
                    position: absolute;
                    color: white;
                    text-shadow: 0 0 20px #000;
                    margin: $margin-common;
                    text-align: left;
                }
            }
        }
    }
}

.gallery.wide {
    padding-inline: 12.5%;
}

section.palette {
    min-height: unset;
    padding-block: 4.25rem;
    gap: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    >div {
        min-height: unset;
        padding-block: 1rem;
        /* allow items to wrap to new rows instead of overflowing */
        gap: $margin-common/2;
        justify-content: center;
        flex-direction: row;
        /* important: enable wrapping so the palette tiles don't run off-screen */
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        min-width: unset;
        flex: 1;

        >div {
            width: unset;
            padding-block: $block-common/8;

            >div {
                height: 12rem;
                max-height: 12rem;
                width: 12rem;
                max-width: 12rem;
                border-radius: $radius-round;
                margin: $margin-common/2;
                aspect-ratio: 1/1;
                transition: all 0.25s cubic-bezier( 0.165, 0.84, 0.44, 1 );
                p {
                    user-select: none;
                }
                &:hover {
                    transform: scale(1.125);
                }

                // p {//     font-weight: bold;
                // }
            }
        }
    }
}

footer {
    background-color: $secondary;
    padding: $margin-common;
    padding-inline: $inline-common;

    h1,
    p,
    a {
        color: $main;
    }

    div {
        margin-block: $margin-common;
    }

    .bottom {
        margin-bottom: 0px;
    }

    .middle {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        div {
            min-width: 10rem;
        }

        .logo {
            max-width: 15%;
        }

        .navigation {
            a {
                padding-block: $block-font*3;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }
}

.socials {
    display: flex;
    flex-direction: row;
    // margin-inline: $inline-common;
    padding: 0;

    a {
        max-width: 20%;
        display: flex;
        margin-inline: $inline-spacing-common;
        justify-content: center;
    }

    img {
        margin: $inline-spacing-common;
        min-width: 100%;
        max-width: 20%;
        filter: invert(17%) sepia(0%) saturate(1259%) hue-rotate(275deg) brightness(105%) contrast(102%);
    }

    svg>circle {
        fill: #FFFFFF;
    }
}

#socials {
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: $radius;
    user-select: none;
    pointer-events: none;
}

div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

img.icon {
    border-radius: 0px;
    user-select: none;
    pointer-events: none;
}

section.accent {
    background-color: $accent;
}

section.tiles.accent {
    .intro {

        h1,
        p {
            color: $main;
        }
    }

    .body {
        div {

            h1,
            p {
                color: $secondary;
            }

            background-color: $main;
        }
    }
}

// Screens
@media screen and (max-width: 768px) {
    nav .side {
        width: 100%;
        padding: none;
    }

    nav .hamburger {
        position: absolute;
    }

    footer .middle {
        flex-direction: column-reverse;
    }

    .navtext {
        display: none;
        visibility: hidden;
    }

    section {
        div {
            width: unset;
        }
    }
}

@media screen and (min-width: 769px) {
    nav .side {
        padding-inline: $block-common;
    }

    footer .middle {
        flex-direction: row;
    }

    .navtext {
        display: flex;
        visibility: visible;
    }
}

@media screen and (max-width: 1024px) {
    section {
        padding-inline: 10%;
    }

}

@media print {
    nav {
        display: none;
    }

    section {
        padding-block: 0.5in;
        padding-inline: 0.5in;
    }

    p {
        font-size: 11pt !important;
    }

    h2 {
        font-size: 14pt !important;
    }

    h1 {
        font-size: 18pt !important;
    }
}